{% if post.fbcomment_url %}
	{% assign fbcomment_url = post.fbcomment_url %}
{% else %}
	{% assign fbcomment_url = site.site_url | append: post.url %}
{% endif %}
<li>
	<div class="content">
		<h4>
			<a href="/{{ post.url | remove_first: '/' }}">
				<strong>{{ post.title }}</strong>
				<!-- <span class="comments-count">
					<span class="fb-comments-count" data-href="{{ fbcomment_url }}"></span>
				</span> -->
			</a>
		</h4>
		<p class="date">
			{{ post.date | date:"%-m월 %-d일, %Y" }}<br>
		</p>
		<p>
			{{ post.description }}<br>
			{% for tag in post.tags %}
				<span class="tag"># {{ tag }}</span>
			{% endfor %}
		</p>
	</div>
	<div class="thumbnail" style="background-image: url('/attachs/{{ post.image }}')"></div>
</li>
