{% if post.fbcomment_url %}
	{% assign fbcomment_url = post.fbcomment_url %}
{% else %}
	{% assign fbcomment_url = site.site_url | append: post.url %}
{% endif %}
<li>
	<div class="content">
		<h4>
			<a href="/{{ post.url | remove_first: '/' }}">
				<strong>{{ post.title }}</strong>
				<span class="comments-count">
					<span class="fb-comments-count" data-href="{{ fbcomment_url }}"></span>
				</span>
				<span class="date">{{ post.date | date:"%-m월 %-d일, %Y" }}</span>
			</a>
		</h4>
		<p>
			{{ post.content | strip_html | truncatewords:35 }}
		</p>
	</div>
	<div class="thumbnail" style="background-image: url('/attachs/{{ post.image }}')"></div>
</li>
