@charset "utf-8";

.about{
	width: 700px;
	margin: 0 auto;
	font-weight: 400;
	color: #666;
}

.about p{
	margin: 10px;
	text-align: left;
	line-height: 1.4;
}

.about p a{
	color: #2e88b5;
}

.about strong{
	font-weight: normal;
	color: #111;
}

.about a{ color: #444; text-decoration: none; }
.about a:hover{ text-decoration: underline; }


.about .name-section{
	margin: 60px 0 10px 10px;
}
.about .name-section .picture-wrap .profile-picture{ border-radius: 20% }
.about .name-section h2{ margin: 10px 0 0 0; font-weight: normal; }
.about .name-section h3{ margin: 0; font-weight: normal; }

.about .contacts{
	text-align: left;
	margin-left: 10px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.about .contacts ul{ list-style: none; margin: 0; padding: 0 }
.about .contacts ul li{
	display: inline-block;
	padding: 0 30px 0 0;
}

h4.cv-list-header{
	margin: 20px 0 0 10px;
	padding: 0;
	font-weight: 600;
}


@media (max-width: 800px) {
	.about{ padding-left: 10px; width: auto; }
	.about p{ width: auto }

	.about .name-section{
		width: 180px;
		margin: 25px auto 48px auto;
		text-align: center;
	}
	.about .name-section .fl,
	.about .name-section .fr{ float: none; }

	.about .name-section .picture-wrap{ margin: 0 }

	.about .contacts ul li{
		display: block;
		padding: 0;
	}
}
