@charset "utf-8";

section.pictures{
	margin: 60px auto 20px;
}

section.pictures img{
	background-color: #eee;
}

section.pictures p.description{
	text-align: center;
	margin: 1px 0 20px;
	padding: 0;
	color: #666;
	font-size: 13px;
}

section{
	position: relative;
	width: 850px;
	margin: 40px auto 70px;
}

@media (max-width: 800px) {
	section{
		margin-top: 20px;
		padding: 15px;
	}

	section.pictures{
		margin: 20px auto 0;
		padding: 0;
	}
	
	section.pictures img{
		margin: 15px;
		width: calc(100% - 30px);
		height: auto;
	}
}

@media (max-width: 573px) {
	section{ width: auto }
}
