ul.note-list{
	list-style: none;
	margin: 90px 0 0 0;
	padding: 0;
}

ul.note-list li{
	width: 400px;
	margin: 10px auto;
	padding: 0;
	*zoom: 1;
}
ul.note-list li:after{ content: ""; display: block; clear: both; }

ul.note-list li h4{
	margin: 0;
	padding: 0;
	font-weight: normal;
	float: left;
}

ul.note-list li h4 a{
	text-decoration: none;
	color: black;
}

ul.note-list li .date{
	float: right;
	color: #666;
}

article{
	display: block;
	width: 600px;
	margin: 60px auto;
}

article header{
	margin: 40px 0 30px;
	text-align: center;
}

article header h1{
	position: relative;
	margin: 4px 0;
	font-size: 25px;
	line-height: 1.4;
	font-weight: 600;
}
article .post-body{
	color: #454545;
	text-align: justify;
}

@media (max-width: 850px) {
	section{
		padding: 20px;
	}

	article{
		width: auto;
		margin: 0;
		padding: 20px 0;
	}

	ul.note-list li{
		width: auto;
	}
}
