@charset "utf-8";

section.post-list > header{
	text-align: center;
	padding: 20px 0;
}

section.post-list > header h3{
	font-weight: normal;
	font-size: 16px;
	color: #999;
}

section.post-list > header h3 strong{
	color: black;
	font-weight: normal;
}

section.post-list > header a{
	text-decoration: none;
	margin: 0 3px;
	color: #999;
}
section.post-list > header a:hover{ text-decoration: underline }
