@charset "utf-8";

section{
	position: relative;
	width: 800px;
	margin: 40px auto 70px;
	font-size: 16px;
	color: #5A5A5A;
}

.primary-button{
	display: inline-block;
	width: 120px;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: white;

	padding: 9px 0 8px;
	border-radius: 7px;
	
	background-color: #454f62;
	transition: 0.3s all;
}
.primary-button:hover{ opacity: 0.8 }

.primary-button.small{
	font-size: 15px;
	width: 100px;
	padding: 6px 0 5px;
}


section.prominent-project h2#memento{
	width: 184px;
	height: 29px;
	background-image: url('/assets/images/project-logos/memento.png');
	background-size: 184px 29px;
}
section.prominent-project h2#colorscripter{
	width: 220px;
	height: 35px;
	background-image: url('/assets/images/project-logos/colorscripter.png');
	background-size: 220px 35px;
}
section.prominent-project h2#kreact{
	width: 253px;
	height: 60px;
	background-image: url('/assets/images/project-logos/kreact.png');
	background-size: 253px 60px;
}



section.prominent-project{
	position: relative;

	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px dashed #979797;
}
section.prominent-project .content{ position: relative; z-index: 3 }
section.prominent-project .screenshot{
	position: absolute;
	top: 0;
	right: 0;
}

section.prominent-project h2{
	margin: 20px 0 25px 5px;
}
section.prominent-project p,
section.prominent-project ul{
	margin: 0;
	line-height: 22px;
}
section.prominent-project p{ padding-left: 5px }
section.prominent-project ul{ padding-left: 30px; margin-top: 2px }


section.prominent-project p.meta{
	line-height: 24px;
}

section.prominent-project h4{
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	color: white;

	margin: 20px 0 6px;
	padding: 2px 6px 1px;
	border-radius: 10px;
	background-color: #78808f;
}

section.prominent-project .primary-button{
	margin: 40px 0 0 5px;
}


section.prominent-project ul li a{
	color: #2e88b5;
	text-decoration: none;
	transition: 0.3s all;
}
section.prominent-project ul li a:hover{ color: #84d1f7 }



section.other-projects{
	margin-top: -38px;
	padding-top: 40px;
	border-top: 1px dashed #979797;
	/*border-bottom: 1px dashed #979797;*/
}

section.other-projects .project{
	margin-bottom: 35px;
}

section.other-projects .project:after{ clear: both; content: ""; display: block; }

section.other-projects .project .logo{
	width: 240px;
	float: left;
	padding-top: 50px;
	text-align: center;
}
section.other-projects .project .content{
	width: 500px;
	float: right;
	line-height: 19px;
}
section.other-projects .project .content p{
	margin: 10px 0;
	text-align: justify;
}


p.meta i{
	width: 16px;
	text-align: right;
	margin-right: 5px;
	color: #78808f;
}

/*
section h2{
	position: relative;
	margin: 10px 0;
	padding: 5px 0;
	font-size: 32px;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 600;
	color: black;

	border-bottom: 2px solid black;
}

section h2 .small{ font-size: 20px; font-weight: 400; color: #999 }

section.projects a{
	color: #A0A0A0;
	text-decoration: none;
	transition: 0.5s all;
}
section.projects a:hover{ color: #ccc }

section.projects > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section.projects > ul > li{
	margin: 10px 0 35px;
	padding: 10px 0;
}

section.projects > ul > li .fl{ width: 210px }
section.projects > ul > li .fr{ width: 500px }

section.projects > ul > li .fl h3{
	margin: 0;
	padding: 0;
}
section.projects > ul > li .fl .weak{ font-size: 15px; color: #999 }

section.projects > ul > li .fl .link{
	width: 160px;
	margin-bottom: 25px;
	padding: 2px 0 10px;
	border-bottom: 1px dashed #C5C5C5;
	color: #999;
}

section.projects > ul > li .fr .description{ margin-bottom: 12px }
section.projects > ul > li .fr a{ color: #2e88b5 }
section.projects > ul > li .fr a:hover{ color: #84d1f7 }

section.projects > ul > li .fr h4{
	padding-top: 10px;
	margin-bottom: 8px;
	margin-top: 5px;
}
section.projects > ul > li .fr ul li{
	margin-bottom: 3px;
}*/



@media (max-width: 800px) {
	#wrapper{
		background-color: #f0f0f0;
	}

	section{
		padding: 15px 0;
		margin-top: 0;
		margin-bottom: 20px;
		width: auto;
	}
	section h2{ padding: 0 15px }

	/*section.projects > ul > li{
		margin-bottom: 15px;
		padding: 15px;
		background-color: white;
	}
	section.projects > ul > li .fl,
	section.projects > ul > li .fr{
		float: none;
		width: 100%;
	}
	
	section.projects > ul > li .fr img{
		width: 100%;
		width: calc(100% + 30px);
		margin-left: -15px;
	}*/
}

@media (max-width: 573px) {
	section{
		margin: 0;
	}
}