---
layout: default
type: posts
---

<article class="post">
	<header>
		<h1><span>{{ page.title }}</span></h1>
		<div class="date">{{ page.date | date: "%b. %-d, %Y" }}</div>
		<div class="tags">
		{% for tag in page.tags %}
			<a href="/posts/tag/{{ tag | replace: '/', '-' }}">#{{ tag }}</a>
		{% endfor %}
		</div>
	</header>

	<section class="post-body md-theme">
		{{content}}
	</section>

	<footer>
		<section class="comment">
			<div>
				<div id="disqus_thread"></div>
			</div>
		</section>

		<section class="readmore">
			<h3>Read more</h3>
			<ul class="post-list">
			{% assign tag = page.tags[0] %}
			{% for post in site.tags[tag] %}
				{% if post.url != page.url %}
					{% include post-tile.html %}
				{% endif %}
			{% endfor %}
			</ul>
		</section>
	</footer>
</article>

<script type="text/javascript">
	$('.subscribe button.subscribe-toggle').click(function() {
		$('.subscribe form').toggle();
	});
	$('.subscribe form').on('submit', function(e) {
		e.preventDefault();
		var emailAddr = $('.subscribe form input').val();

		$.ajax({
			type: 'POST',
			url: 'https://rhqwen9vle.execute-api.ap-northeast-2.amazonaws.com/prod',
			data: emailAddr
		})
		.done(function() {
			alert("구독되었습니다.");
			$('.subscribe form').hide();
		})
		.fail(function() {
			alert("error");
		})
	});
</script>

<script>
	var disqus_config = function () {
		this.page.url = '{{ site.url | append: page.url }}';
		this.page.identifier = '{{ page.url }}';
	};

	(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://prevdev.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
