---
layout: default
type: posts
---

{% if page.fbcomment_url %}
	{% assign fbcomment_url = page.fbcomment_url %}
{% else %}
	{% assign fbcomment_url = site.url | append: page.url %}
{% endif e%}

<article class="post">
	<header>
		<h1><span>{{ page.title }}</span></h1>
		<div class="date">{{ page.date | date:"%-m월 %-d일, %Y" }}</div>
		<div class="tags">
		{% for tag in page.tags %}
			<a href="/posts/tag/{{ tag | replace: '/', '-' }}">#{{ tag }}</a>
		{% endfor %}
		</div>
	</header>
	
	<section class="post-body md-theme">
		{{content}}
	</section>

	<footer>
		<section class="comment">
			<div class="comment-box">
				<div class="fb-comments" data-href="{{ fbcomment_url }}" data-width="800" data-numposts="10" data-colorscheme="light"></div>
			</div>
		</section>
		
		<section class="readmore">
			<h3>관련 글 더보기</h3>
			<ul class="post-list">
			{% assign tag = page.tags[0] %}
			{% for post in site.tags[tag] %}
				{% if post.url != page.url %}
					{% include post-tile.html %}
				{% endif %}
			{% endfor %}
			</ul>
		</section>
	</footer>
</article>
