---
layout: default
type: posts
---

{% if page.fbcomment_url %}
	{% assign fbcomment_url = page.fbcomment_url %}
{% else %}
	{% assign fbcomment_url = site.url | append: page.url %}
{% endif e%}

<article class="post">
	<header>
		<h1><span>{{ page.title }}</span></h1>
		<div class="date">{{ page.date | date:"%-m월 %-d일, %Y" }}</div>
		<div class="tags">
		{% for tag in page.tags %}
			<a href="/posts/tag/{{ tag }}">#{{ tag }}</a>
		{% endfor %}
		</div>
	</header>
	
	<section class="post-body md-theme">
		{{content}}
	</section>

	<footer>
		<section class="comment">
			<div class="comment-box">
				<div class="fb-comments" data-href="{{ fbcomment_url }}" data-width="800" data-numposts="10" data-colorscheme="light"></div>
			</div>
		</section>
		
		<section class="readmore">
			<h3>더보기</h3>
			<ul>
			{% for post in site.posts %}
				{% if post.url != page.url %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}<span class="dates">{{ post.date | date:"%-m월 %-d일, %Y" }}</span></a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</section>
	</footer>
</article>
<!-- 
<script type="text/javascript" src="//api.colorscripter.com/code/colorscripter.js"></script>
<script type="text/javascript">
	(function() {
		$('.post-body pre code').each(function() {
			var dom = $(this).parent().parent();

			var className = dom.attr('class');
			if (!className) return;

			var temp = className.split('language-')[1];
			if (!temp) return;

			var lang = temp.split(' ')[0];
			var cs = new ColorScripter(lang);

			$(this).html( cs.color( $(this).text() ) );
		});
	})();
</script> -->